$headColor: #f00bc2;
$under: #c72bc7;
$bgOne: rgba(186, 44, 199, 0.76);
$bgTwo: rgb(243, 220, 220);
$bgThree: rgb(236, 125, 199);
$bgFour: rgba(186, 44, 199, 0.76);
$second: rgb(243, 220, 220);
$footer: rgba(32, 31, 32, 0.904);
$spinner: rgb(224, 125, 224);
$section: rgb(241, 30, 171);
