@import "variables";
@import "body";
@media screen and (max-width: 550px) {
	.emp {
		width: 25%;
	}
}
@media screen and (max-width: 650px) {
	.emp {
		width: 25%;
	}
}
@media screen and (max-width: 750px) {
	.emp {
		width: 25%;
	}
}
@media screen and (max-width: 950px) {
	.emp {
		width: 25%;
	}
}
.logo {
	width: 140px;
	position: relative;
	left: 30%;
	top: 2%;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
}
.name {
	position: relative;
	right: 5%;
	top: 2%;
}
.dal {
	color: $headColor;
	text-shadow: 2px 3px 2px 2px #000;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Bree Serif;
}
.under {
	color: $under;
	font-weight: bold;
	position: relative;
	bottom: 10px;
	text-transform: uppercase;
	font-family: Bree Serif;
}
.bg-one {
	background: $bgOne;
}
.bg-two {
	background: $bgTwo;
}
.bg-three {
	background: $bgThree;
}
.bg-four {
	background: $bgFour;
}
.second {
	background: $second;
	height: 90px;
	font-family: Futura Bk Bt;
	font-size: 12px;
	font-weight: bold;
	color: $bgOne;
	line-height: 1.2em;
}
.one {
	position: relative;
	top: 9%;
}
.two {
	position: relative;
	top: 12%;
}
.phone {
	width: 20px;
}
.share {
	float: left;
}
.active {
	color: #fff;
}
.active:hover {
	color: #000;
}
#brand {
	color: #fff;
	font-family: Bree Serif;
	text-transform: uppercase;
}
.sectionOne {
	background-image: url('./img/bgTwo.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.slide {
	width: 100%;
}
.welcome {
	font-size: 14px;
	font-family: Futura Bk Bt;
	font-weight: bold;
}
.cheff {
	object-fit: cover;
}
.wel {
	text-transform: uppercase;
	font-family: Linolettercut;
}
.img {
	width: 100%;
	background-position: center;
}
.img-click {
	width: 100%;
	display: flex;
}
.click-one {
	width: 50%;
	position: relative;
}
.click-one:hover .overlay {
	bottom: 0;
	height: 100%;
}
.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: $bgTwo;
	opacity: 0.8;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}
.text {
	white-space: nowrap;
	font-family: Eutemia;
	font-size: 26px;
	color: $bgOne;
	font-weight: bold;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.cheff:hover {
	opacity: 0.5;
	box-shadow: rgb(54, 49, 49);
}
footer {
	background: $footer;
}
.footer_link {
	color: #fff;
	font-style: italic;
	font-size: 14px;
	text-transform: capitalize;
}
.footer_link:hover {
	text-decoration: none;
	color: pink;
}
.footer_head {
	font-family: Futura Bk Bt;
	font-style: italic;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
}
.social {
	width: 40px;
}
.social_link:hover {
	text-decoration: none;
}
@font-face {
	font-family: "Bree Serif";
	src: url('fonts/bree.otf');
}
@font-face {
	font-family: "Eutemia";
	src: url('fonts/Eutemia.ttf');
}
@font-face {
	font-family: "LinoLetterCut";
	src: url('fonts/lino.TTF');
}
@font-face {
	font-family: "Futura Bk Bt";
	src: url('fonts/f1.ttf');
}
@font-face {
	font-family: "Futura Bk Bt";
	src: url('fonts/f2.ttf');
}
.ser {
	font-family: Futura Bk Bt;
	font-style: italic;
	font-size: 18px;
}
.text-spin {
	background: $spinner;
}
.section {
	background: $bgOne;
	color: #fff;
}
.rel {
	position: relative;
	top: 20%;
}
.serve {
	font-family: times new roman;
}
.sel {
	position: relative;
	top: 20%;
}
.jumbotron {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #e9ecef;
	opacity: 0.8;
	border-radius: 0.3rem;
}
.contact_form {
	display: flex;
	justify-content: center;
	align-content: center;
}
.sectionTwo {
	background-image: url('./img/bgTwo.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
img:hover {
	opacity: 0.5;
}
.about {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	font-family: Futura Bk Bt;
}
.form-control {
	font-family: Futura Bk Bt;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}
.writeup {
	font-size: 18px;
	font-family: Futura Bk Bt;
}
.sectionThree {
	background: $section;
	display: flex;
	justify-content: center;
	align-content: center;
	color: $second;
}
.marquee {
	font-family: Eutemia;
	font-size: 40px;
}
.stop {
	font-size: 18px;
	font-family: Futura Bk Bt;
}
.button {
	font-family: Futura Bk Bt;
}
.wela {
	font-family: linolettercut;
	text-transform: uppercase;
}
.loc {
	width: 24px;
}
@media Screen and (max-width: 688px) {
	.logo {
		width: 100px;
		position: relative;
		left: 40%;
	}
	.name {
		width: 400px;
		position: relative;
		left: 20%;
	}
}
@media Screen and (max-width: 742px) {
	.logo {
		width: 100px;
	}
	.name {
		width: 250px;
	}
	.dal {
		font-size: 20px;
	}
	.under {
		font-size: 20px;
	}
}
@media Screen and (max-width: 747px) {
	.logo {
		width: 100px;
	}
	.name {
		width: 250px;
	}
	.dal {
		font-size: 20px;
	}
	.under {
		font-size: 20px;
	}
}
@media Screen and (max-width: 753px) {
	.logo {
		width: 100px;
	}
	.name {
		width: 250px;
	}
	.dal {
		font-size: 20px;
	}
	.under {
		font-size: 20px;
	}
}
@media Screen and (max-width: 764px) {
	.logo {
		width: 100px;
	}
	.name {
		width: 250px;
	}
	.dal {
		font-size: 20px;
	}
	.under {
		font-size: 20px;
	}
}
.hov:hover {
	background: $bgOne;
	color: #fff;
	transition: 1s ease;
}
